html, .btn{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(241, 207, 144);
}

#title{
    font-size: 30pt;
    text-align: center;
    margin: 20px 20px;
}

#content-container{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.btn{
    border-radius: 20px;
}

.btn:hover{
    cursor: pointer;
    background-color: white;
}

#buttons-container{
    margin: 20px 20px;
    display: none;
    flex-direction: column;
    align-items: space-evenly;
}

/* #update-data-form{
    display: none;
} */

